// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

.footer1 {

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #523A28;
  text-align: center;
  width: 100%;

}


.txt-color {
  color: #523A28 !important;
}

.right-align {
  text-align: right;
}

.nav-text {
  color: #523A28 !important;
}

.blank-space {
    height: 50px;
    margin-top: 150px;
    margin-bottom: 343px;
}

.blank-space2 {
    height: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
